<section class="mat-typography">
    <div *ngIf="!playlistService.room">
        <mat-progress-spinner style="margin:0 auto;" mode="indeterminate">
        </mat-progress-spinner>
    </div>
    <div *ngIf="playlistService.room" dnd-droppable (onDropSuccess)="addSong($event)">
        <div class="room-header">
            <a class="tittle">
                {{playlistService.room.name}}
            </a><br/>
            <a class="description">
                > {{playlistService.room.description}}
            </a>
        </div>
        <div class="room-container">
            <app-playbutton></app-playbutton>
            <app-playlist></app-playlist>
        </div>
        <mat-tab-group class="demo-tab-group">
            <mat-tab label="Chat" disabled>
            </mat-tab>
            <mat-tab label="Users">
                <app-usersbar></app-usersbar>
            </mat-tab>
            <mat-tab label="Log">
                <app-eventslog></app-eventslog>
            </mat-tab>
        </mat-tab-group>
    </div>
</section>