.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.album {
  height: 300px;
  width: 300px;
  display: flex;
}

div.album:hover .vinyl {
  -webkit-transform: translateX(150px) rotate(195deg);
  -moz-transform: translateX(150px) rotate(195deg);
  -ms-transform: translateX(150px) rotate(195deg);
  -o-transform: translateX(150px) rotate(195deg);
  transform: translateX(150px) rotate(195deg);
}

.vinyl {
  position: absolute;
  height: 300px;
  width: 300px;
  z-index: -1;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  background-image: url("../../assets/img/vinyl.png");
  background-size: contain;
}

.cover {
  background-color: #222;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  position: absolute;
  height: 300px;
  width: 300px;
  z-index: 0;
  background-image: url("../../assets/img/foundry_vinyl.png");
  background-size: 100% 100%;
}

.cover:hover {
  background-image: url("../../assets/img/foundry_vinyl_white.png");
}
