.playlist-artist {
  color: lightseagreen;
}

.playlist-album {
  color: lightslategray;
}

.playlist-artist-album-divider {
  color: lightslategray;
  text-shadow: 3px 0px lightseagreen;
}

.playlist {
  display: flex !important;
  flex-flow: column;
  text-align: left !important;
  top: 0;
  height: 79%;
  overflow: hidden;
  overflow-y: auto;
}

.playlist-empty{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10% 0 2% 2%;
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  color: #bbb;
  height: 100%;
}

.upvoted-icon {
  color: lightseagreen;
}

.votes {
  width: 100%;
  height: 30px;
  vertical-align: middle;
}

.votes img {
  vertical-align: middle !important;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  flex-shrink: 0;
  background: black;
}

.votes div {
  vertical-align: middle !important;
  border-radius: 50%;
  background: #666;
  color: #fff;
  text-align: center;
  display: inline;
  font-size: 13px;
  font-weight: bold;
  border: 4px solid #666;  
}
