<div class="left_bar">
    <button mat-icon-button [matMenuTriggerFor]="user_options">
        <img *ngIf="userService.user.images" src="{{userService.user.thumbnail_small.url}}" alt="{{userService.user.display_name}}" class="profile_image"/>
    </button>
    <button mat-icon-button class="devices_button" [matMenuTriggerFor]="devices_list" (click)="userService.loadUserDevices()">
        <mat-icon>devices</mat-icon>
    </button>
    <button mat-icon-button class="help_button">
        <mat-icon>help</mat-icon>
    </button>
</div>
<div class="canvas">
    <app-room></app-room>
</div>

<mat-menu #devices_list="matMenu" [overlapTrigger]="false">
    <div *ngFor="let device of userService.devices.devices">
        <button mat-menu-item (click)="selectedOption = option">
            <mat-icon> {{device.getSelectedStatusIcon()}} </mat-icon>
            <span> {{device.name}} </span>   
        </button>
    </div>
</mat-menu>

<mat-menu #user_options="matMenu" [overlapTrigger]="false">
    <button mat-menu-item (click)="logout()">
        <mat-icon> settings_power </mat-icon>
        <span> Logout </span>
    </button>
</mat-menu>